body,a{color:#8a8679;}
.fc01{color:#fffffe;}
.fc02,.fc02 a{color:#46624d;font-size:14px;}
.fc03,.fc03 a,.fc04,.fc04 a,.fc11 a{color:#0c7823;}
.fc05{color:#8a8679;}
.fc06,.fc07{color:#46624d;}
.fc08{color:#aaaaaa;}
.fc00,.fc09{color:#ffffff;}
.fc10{color:#e9f5e9;}
.bdc0{border-color:#e9f5e9;}
.bdc1{border-color:#458360;}
.bdc9t{border-top-color:#ffffff;}
.bdc9r{border-right-color:#ffffff;}
.bdc9b{border-bottom-color:#ffffff;}
.bdc9l{border-left-color:#ffffff;}
.bgc0,.bgc9:hover,.bgc9.js-bgc9-hover{background-color:#eeeeee;}
.bgc1{background-color:#ffffff;}
.bgc2{background-color:#a5c8b0;}
.bgp0{background-image:url(http://b.bst.126.net/newpage/style/nblog/4178/img/-1.gif);}
.nb-body{background:url(http://img.bimg.126.net/photo/4hdgCsUkg3qwMKEbxcZwEQ==/5773051772335962370.jpg) #ffffff no-repeat left top ;}
.nb-bar{background:none #a5c8b0 repeat left top;}
.nb-top{background:url(http://img.bimg.126.net/photo/pXh-jk7BaOvWeR1j8jBtfA==/5790503220891991008.jpg) #ccced0 no-repeat center top;}
.nb-top .h{height:140px;}
.nb-top .t{top:70px;left:35px;font-family:Î¢ÈíÑÅºÚ;color:#ffffff;}
.nb-top .n{font-size:25px;}
.nb-top .d{font-size:14px;}
.nb-nav .wkg{background:url(http://img.bimg.126.net/photo/k6sx2PaW2VTEeSsGnAsoxg==/5790503220891991007.jpg) #e9e9e9 no-repeat center top;}
.nb-nav .h{height:32px;line-height:32px;}
.nb-nav .c{margin-left:35px;}
.nb-nav .i{width:80px;font-weight:normal;font-size:12px;}
.nb-nav .i:hover{font-weight:bold;font-size:14px;color:#ffffff;background:none #7ea78b no-repeat center top;}
.nb-nav .selected{background:none #ffffff no-repeat center top;}
.nb-nav .selected .i,.nb-nav .selected .i:hover{font-weight:bold;font-size:14px;color:#0c7823;background:none;}
.nb-cnt .wkg{background:none #ffffff repeat center top;}
.nb-cnt .wc{margin:0 5px 0 5px;min-height:560px;_height:560px;}
.nb-fot{background:none transparent no-repeat center top;}
.nb-fot .h{height:110px;}
.nb-fot .k{padding-top:30px;}
.nb-mdl{margin:10px 5px;border:1px none #aaaaaa;}
.nb-mdl .th{height:25px;}
.nb-mdl .bh{height:0px;}
.nb-mt .tm{top:0;right:10px;line-height:25px;}
.nb-mt .tc{margin:0 10px 0 10px;height:25px;line-height:25px;font-size:14px;font-weight:bold;background:none transparent repeat-x center top;}
.nb-mt .tc .thide{font-size:14px;}
.nb-mt .tl{width:10px;background:none transparent no-repeat left top;}
.nb-mt .tr{width:10px;background:none transparent no-repeat right top;}
.nb-mc .cc{margin:0 10px 0 10px;background:none transparent repeat center top;}
.nb-mc .cl{width:10px;background:none transparent repeat-y left top;}
.nb-mc .cr{width:10px;background:none transparent repeat-y right top;}
.wsy,.wkg{width:1004px;margin:0px auto;}
.bdc9t{border-top-color:#ffffff;}
.bdc9r{border-right-color:#ffffff;}
.bdc9b{border-bottom-color:#ffffff;}
.bdc9l{border-left-color:#ffffff;}
.bgc1{background-color:#ffffff;}
.nb-mdl-n{color:#8a8679;}
.nb-mdl-n a{color:#8a8679;}
.nb-mdl-n .fc02,.nb-mdl-n  .fc02 a{color:#46624d;font-size:14px;}
.nb-mdl-n .fc03,.nb-mdl-n .fc03 a,.nb-mdl-n .fc04,.nb-mdl-n .fc04 a,.nb-mdl-n .fc11,.nb-mdl-n .fc11 a{color:#0c7823;},.nb-mdl-n .fc11 a{color:#0c7823;}
.nb-mdl-n .fc05{color:#8a8679;}
.nb-mdl-n .fc06,.nb-mdl-n .fc07{color:#46624d;}
.nb-mdl-n {margin:10px 5px;border:1px none #aaaaaa;}
.nb-mdl-n .th{height:20px;}
.nb-mdl-n .bh{height:0px;}
.nb-mdl-n .nb-mt .tm{top:0;right:10px;line-height:25px;}
.nb-mdl-n .nb-mt .tc{margin:0 10px 0 10px;height:20px;line-height:25px;font-size:14px;font-weight:bold;background:none transparent repeat-x center top;}
.nb-mdl-n .nb-mt .tc .thide{font-size:14px;}
.nb-mdl-n .nb-mt .tl{width:10px;background:none transparent no-repeat left top;}
.nb-mdl-n .nb-mt .tr{width:10px;background:none transparent no-repeat right top;}
.nb-mdl-n .nb-mc .cc{margin:0 10px 0 10px;background:none #e9f5e9 repeat center top;}
.nb-mdl-n .nb-mc .cl{width:10px;background:none #e9f5e9 repeat-y left top;}
.nb-mdl-n .nb-mc .cr{width:10px;background:none #e9f5e9 repeat-y right top;}
.nb-mdl .mdl_t_t{display:none;}
.nb-mdl .mdl_t_t_x a{display:none;}
.nb-mdl-n .mdl_t_t{display:none;}
.nb-mdl-n .mdl_t_t_x a{display:none;}
.nb-top .d{text-align:left;text-indent:0.2em;padding-left:0;}